@import "null";
@import "fonts";
$blue : #6e9bca;
$grey : #cccccc;
$container_s : 1250px;
$pad_adapt : 10px;
@mixin nav_style{
  background: #373645;
  height: auto;
  padding: 32px 40px;
  font-size: 13px;
  color: #fff;
  span{
    color: #6e9bca;
    font-family: nexaslab;
    font-size: 25px;
    display: block;
  }
}
body
{
  margin-top: 0 !important;
  padding-top: 0 !important;
  font-family: "avenir";
}

@import "home-page";
@import "about";
@import "Services";
@import "Services";
@import "Team";
@import "New";
@import "Search-form";
@import "Contact";
@import "title_pages";

////////////////////////////////////////////////////////////
@media (min-width: 1024px) and (max-width: 1280px){
  .block-title{
    &:after{
      width: 38%;
      height: 1px;
    }
    &:before{
      width: 38%;
      height: 1px;
    }
  }
  .container-fluid{
    max-width: 100%;
    padding: 0 $pad_adapt;
  }
  #navbar{
    top: 40px;
    width: 100%;
    max-width: unset;
    background: transparent;
    .container-fluid{
      background: #fff;
      padding: 0;
    }
  }
  .block-block-content8be4f345-3109-42d6-a4dd-142cdbaafe4c
  {
    gap: 10px;
    .field--name-field-about-link
    {

    }
  }
  .block-views-blockprojects-block-1{
    padding: 0px 20px;
  }
  .block-views-blocknews-block-1
  {
    .form-group
    {
      padding: 0px 10px;
    }
  }
  footer .container-fluid{
      max-width: 100%;
      width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1140px) {

  #navbar{
    #block-mainnavigation{
      .menu--main{
        padding: 20px 0px;
        flex-wrap: wrap;
        li{
          font-size: 1.3em;
          text-align: center;
          width: 25%;
          &:first-child{
            .is-active{
              height: unset;
              width: unset;
            }
            a{
              background: 0;
              font-size: unset;
              content: "Home";
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .block-title{
    &:after{
      width: 35%;
      height: 1px;
    }
    &:before{
      width: 35%;
      height: 1px;
    }
  }
  .container-fluid
  {
    max-width: unset;
    width: 100%;
    padding: 0 $pad_adapt;
  }
  #navbar{
    top: 0;
    background: transparent;
    .navbar-header {
      float: none;
    }
    .navbar-left,.navbar-right {
      float: none !important;
    }
    .navbar-toggle {
      background: #fff;
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      .region-navigation-collapsible{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 20px;
        .navbar-brand{
          text-align: center;
        }
        #block-mainnavigation{
          .menu--main{
            flex-direction: column;
          }
        }
        #block-socialblock{
          margin: 0;
        }
        #block-exam-search
        {
          padding: 0;
          #search-block-form
          {
            margin: 0 auto;
            align-self: center;
          }
        }
      }
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
    }
    .navbar-nav>li {
      float: none;
    }
    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
    }
  }
  #block-banner
  {

  }
  #block-block-content8be4f345-3109-42d6-a4dd-142cdbaafe4c{
    text-align: center;
  }
  .block-block-contentc06a3164-2121-4501-b96e-dce718098c28{
    .field--item{
      text-align: center;
    }
  }
  .block-views-blockprojects-block-1{
    padding: 0 $pad_adapt;
  }
  .block-views-blocknews-block-1{
    .form-group
    {
      padding: 0 $pad_adapt;
    }
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .block-title{
    &:after{
      width: 0;
      height: 0;
    }
    &:before{
      width: 0;
      height: 0;
    }
  }
  .container-fluid
  {
    max-width: unset;
    width: 100%;
    padding: 0 5px;
  }
  #navbar{
    top: 0;
    background: transparent;
    .navbar-header {
      float: none;
    }
    .navbar-left,.navbar-right {
      float: none !important;
    }
    .navbar-toggle {
      background: #fff;
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      .region-navigation-collapsible{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 20px;
        .navbar-brand{
          text-align: center;
        }
        #block-mainnavigation{
          .menu--main{
            flex-direction: column;
          }
        }
        #block-socialblock{
          margin: 0;
        }
        #block-exam-search
        {
          padding: 0;
          #search-block-form
          {
            margin: 0 auto;
            align-self: center;
          }
        }
      }
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
    }
    .navbar-nav>li {
      float: none;
    }
    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
    }
  }
  #block-banner
  {
    .field--name-field-banner-txt{
      top: 15%;
      font-size: 10px;
      line-height: 10px;
      ul{
        li{
          &:nth-child(1)
          {
            color: #fff;
            font-size: 40px;
            line-height: 10px;
          }
          &:nth-child(2)
          {
            color: black;
            font-size: 20px;
            line-height: 50px;
          }
        }
      }
    }
  }
  .block-block-content8be4f345-3109-42d6-a4dd-142cdbaafe4c{
    text-align: center;
    flex-direction: column;
    .field--name-field-about-link
    {
      padding: 20px 20px;
      align-self: center;
      width: fit-content;
    }
  }
  .block-block-contentc06a3164-2121-4501-b96e-dce718098c28{
      .field--name-field-block-item
      {
        .field--name-field-paragraph-item{
          flex-direction: column;
        }
      }
  }
  .block-views-blockprojects-block-1{
    padding: 0 $pad_adapt;
    .view-content{
      flex-direction: column;
    .views-row{
      .views-field-field-img{
        img{
          margin: 0 auto;
        }
      }
    }
    }
  }
  .block-block-contente88d658e-a682-4ce0-8dac-7019958dedfe{
    .field--name-field-paragraph-item{
      flex-direction: column;
      .field--item{
        .field--name-field-social-link
        {
          width: fit-content;
          margin: 0 auto;
        }
      }
    }
  }
  .block-views-blocknews-block-1{
    .form-group
    {
      padding: 0 5px;
      .views-exposed-form-news-block-1
      {
        .form-type-textfield
        {
        }
      }
      .view-content
      {
        flex-direction: column;
        .views-row{
          max-width: 100%;
          padding-right: 0;
          .layout--twocol-section{
            .layout__region--first
            {
              gap: 10px;
              flex-direction: column;
              .block-field-blocknodenewcreated{
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
  #slick-views-clients-block-block-1-1{
    width: 100%;
    .slick-track{
      .slick__slide{
        .views-field-field-clients-img
        {
          img {
            margin: 0 auto;
          }
        }
      }
    }
  }
  footer{
    .navbar-brand{
      padding-left: 0;
    }
  }
}
