// team page
.team-page.full{
  padding: 50px 0px;
  .content{
    display: flex;
    flex-direction: column;
    .layout--twocol-section{
      margin-bottom: 50px;
      .field--name-field-tp-img{
        display: flex;
        flex-direction: column;
        img{
          align-self: center;
        }
      }
      .layout__region--second{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        section{
          align-self: center;
        }
        .block-field-blocknodeteam-pagefield-tp-name{
          font-size: 50px;
        }
        .block-field-blocknodeteam-pagefield-tp-position{
          font-size: 40px;
          color: $grey;
        }
      }
    }
    .layout--onecol{
      font-size: 20px;
    }
  }
}
