//services page
.view-services-list{
  padding: 50px 0px;
  .view-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .views-row
    {
      width: fit-content;
      align-self: center;
      text-align: center;
    }
  }
}
//projects page
.view-display-id-page_1{
  padding: 50px 0px;
  .view-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .views-row {
      width: fit-content;
      align-self: center;
      text-align: center;
    }
  }
}
